/*@noaMetzger*/
@import "./_variable";
@import "./_colum";
body{
    @include fontStyle('Arial, Helvetica, sans-serif');
    ul{
        li{ 
            a{
                color: rgb(58, 58, 58);
                text-decoration: none;
             }
            input{
                border-radius: 30%;
                &:hover{
                 opacity: 0.5;
                 }
            }
        }
     }
}

/*part2*/
.text-success{
    @include styleClass(rgb(131, 209, 28),500,'Courier New',20px, pointer);
    }
    
    .text-danger{
        @include styleClass(rgb(249, 49, 14),100,'Segoe UI',30px, pointer);
    }
    
    .text-warning{
        @include styleClass(rgb(217, 210, 7),700,'Lucida Sans',40px, default);
        
    }
    .text-info{
        @include styleClass(rgb(223, 127, 10),900,'Segoe UI',50px,grab);    
        cursor:grab;
    }
